* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.checkout-header {
  background-color: #333333;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volver {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.checkout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 30px;
}

.datos-cliente, .resumen-pedido {
  background: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 400px;
}

.datos-cliente h2, .resumen-pedido h2 {
  color: #db2b2b;
  margin-bottom: 15px;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.campo label {
  margin-bottom: 5px;
}

.campo input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.resumen-pedido #lista-pedido {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.producto-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

.btn-finalizar {
  background-color: #db2b2b;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;   /* espacio arriba */
  margin-bottom: 5px;
}

.btn-finalizar:hover {
  background-color: #c21e1e;
}

.btn-actualizar {
  background-color: #db2b2b;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

