body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

/* inputs*/
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0 16px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

/*Botón de envío*/
.login-container button {
  width: 100%;
  padding: 12px;
  background:rgb(151, 41, 41) ;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-container button:hover {
  background: red;
}

/*mensaje error*/
.error-msg {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
