* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.topbar {
  background: #333333;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .volver {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/*contenedor de pago*/
.contenedor-pago {
    min-height: calc(100vh - 70px); /* resta la altura del topbar */
    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center;     /* centra vertical */
    padding: 20px;
}


.card {
    background: #fff;
    width: 100%;
    max-width: 450px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

/*estilo de titulos*/

h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #222;
}

h3 {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

/*estilos de resumen de compra*/

.resumen {
    padding: 0;
    margin: 0 0 15px 0;
    list-style: none;
}

.resumen li {
    background: #fafafa;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    border: 1px solid #eee;
    font-size: 15px;
}

/*estilos metodo de pago*/

.metodos {
    margin-top: 10px;
}

.metodos label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    cursor: pointer;
    background: #fdfdfd;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
}

.metodos input {
    transform: scale(1.2);
}


.formulario-dinamico {
    margin-top: 15px;
    padding: 15px;
    background: #fafafa;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
}

.formulario-dinamico label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.formulario-dinamico input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.formulario-dinamico input:focus {
    border-color: #666;
}


.btn-pagar {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn-pagar:hover {
    background: #000;
}


@media (max-width: 480px) {
    .card {
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    .btn-pagar {
        font-size: 14px;
    }
}
